.product {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main__content {
	display: flex;
	align-items: center;
}

.main__img {
	width: 400px;
}

.main__info {
	margin-left: 30px;
}

.main__title {
	font-size: 30px;
}

.main__price {
	margin-bottom: 10px;
	color: #ff0000;
}

.main__text {
	width: 500px;
}

.cart-card__price {

}

.main__btn {
	background-color: black;
	color: #fff;
	padding: 15px 50px;
	font-size: 22px;
	font-weight: 700;
	border: 2px solid #000;
	transition: all .3s ease 0s;
	&:hover {
		background-color: #fff;
		color: #000;
	}
}
